/* General styles here */
body{
	margin:0;
	background-image:url('/..img/background.png');
}

/* Nav */
.navigation{
	width: 100%;
	text-align: center;
	position: fixed;
	top:300px; /* this is for position*/ 
	background:white;
	padding: 20px 0;
	/* the first number on the padding is top and bottom and second number is left and right*/
	box-shadow: 0px 1px 3px lightgrey; /*the first number in box shadow is let and right and the secon tp and bottom*/
	

}

.navigation a{
	font-family: sans-serif;
	text-transform: uppercase;
	margin:0 20px;
	text-decoration: none;
	color: darkblue;
	padding:10px;
	border-radius: 5px;
	transition: 0.5s background;
}

.navigation a:hover{ 
	background:cornflowerblue;
	transition: 0.5s all;
}




/* Header */

header{
	position: relative;
}
.header-image{
	width: 100%;
}

.header-text{
	position: absolute;
	top: 50px;
	left:100px;

}

/* Body content */ /* 9-12 words per line for design in paragraphs*/
.paragraph {
	max-width: 620px;
	width: 100%;
	margin: 15px auto;
}

/* Image grid */
.image-grid{
	margin:0 auto;
	max-width: 915px;
}
.image-grid img{
	max-width: 300px;
	width: 100%;
	display: inline-block;
}

/* Media Queries */
/* when using max mean everything and below 690 and when using min meand above*/


@media (max-width: 690px){
	.navigation{
		display:none;
	}
	header{
		margin-top:o;
	}

	.header-text{
		position:static;
	}

}








